<h2>Product Dashboard</h2>

  <table>
    <tr>
      <td>Name:</td>
      <td>Price:</td>
      <td>Description:</td>
    </tr>
      <tr *ngFor="let x of products">
        <td>{{x.Name}}</td>
        <td>{{x.Price}}</td>
        <td>{{x.Description}}</td>
        <td>
          <button (click) = "onDeleteProduct(x.ID)">Delete</button>
        </td>
      </tr>
  </table>

  <br><br><br><br>
  <form>
     Find Product By ID: <input type="text" #id name="id">
     <button type="button" (click)="GetProductByiD()">Submit</button>
    </form>
  
